$primary: "#FA4A0C";
$secundary: "#E7E7E7";
$primaryText: "black";
$secundaryText: "#9A9A9D";
$background: "#F2F2F2";
$selected: "#F25F4C";

// Mis variables no funcionan creo que hay muchos bugs de sass en react :c

.main-header {
  margin-bottom: 32px;
}

.selected {
  height: 32px;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 3px #fa4a0c solid;
  color: #fa4a0c;
  margin-bottom: 24px;
  &:visited {
    color: $primary;
  }
}

.not-selected {
  text-decoration: none;
  height: 32px;
  font-size: 17px;
  font-weight: 400;
  color: #9a9a9d;
  margin-bottom: 24px;
  &:visited {
    text-decoration: none;
    color: #9a9a9d;
  }
}
