$primary: #fa4a0c;
$secundary: #e7e7e7;
$primaryText: black;
$secundaryText: #9a9a9d;
$background: #f2f2f2;
$selected: #f25f4c;

.main-header {
  margin-bottom: 32px;
}

.selected {
  height: 32px;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 3px $selected solid;
  color: $primary;
  margin-bottom: 24px;
  &:visited {
    color: $primary;
  }
}

.not-selected {
  text-decoration: none;
  height: 32px;
  font-size: 17px;
  font-weight: 400;
  color: $secundaryText;
  margin-bottom: 24px;
  &:visited {
    text-decoration: none;
    color: $secundaryText;
  }
}
