:root {
  --primary: #fa4a0c;
  --secundary: #e7e7e7;
  --primaryText: black;
  --secundaryText: #9a9a9d;
  --background: #f2f2f2;
  --secBackground: white;
  --selected: #f25f4c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secBackground);
}

.purchase-header {
  padding: 0 24px 0 24px;
}

.purchase-header div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 44px;
}

.add-cart {
  display: flex;
  justify-content: center;
  background-color: var(--background);
  padding-top: 30px;
  padding-bottom: 24px;
}

.add-cart button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secundary);
  background-color: var(--primary);
  width: 312px;
  height: 69px;
  border: none;
  border-radius: 40px;
}

.add-cart button h4 {
  font-size: 17px;
  font-weight: 600;
}

.add-cart button p {
  font-size: 17px;
  font-weight: 400;
}
